    {% extends "base/admin_base.html" %}
    {% load static %}
    {% block content %}

    <section class="content-main">
        <div class="content-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h4 class="card-title">Manage orders</h4>
                                    <!-- Add New Category button in the top right corner -->
                                    
                                </div>
                                <br>
                                
                                <div class="table-responsive">
                                    <table class="table table-hover table-bordered" style="border-color: black;">
                                        <thead>
                                            <tr>
                                                <!-- Your table headers here -->
                                                <th>User</th>
                                                <th>Order ID</th>
                                                <th>Total Amount</th>
                                                <th>Shipping Address</th>
                                                <th>order items</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for username, orders in order_details.items %}
                                                {% for order in orders %}
                                                    <tr>
                                                        <td>{{ username }}</td>
                                                        <td>{{ order.order_id }}</td>
                                                        <td>${{ order.total_amount }}</td>
                                                        <td>{{ order.shipping_address }}</td>
                                                        <td>
                                                            <ul>
                                                                {% for order_item in order.order_items %}
                                                                    <li>{{ order_item.product.title }} - Quantity: {{ order_item.quantity }}</li>
                                                                {% endfor %}
                                                            </ul>
                                                        </td>
                                                        <td>
                                                            <form method="POST" action="{% url 'appadmin:update_order_status' order.order_id %}">
                                                                {% csrf_token %}
                                                                <select name="status">
                                                                    {% for value, label in order.STATUS_CHOICES %}
                                                                        <option value="{{ value }}" {% if order.status == value %} selected {% endif %}>{{ label }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                                
                                                                <button type="submit" class="btn btn-primary">Update Status</button>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% endfor %}
                                        </tbody>
                                        
                                    </table>
                                </div>
                            </div> <!-- card-body .// -->
                        </div> <!-- card .// -->
                    </div> <!-- .col // -->
                    
                </div> <!-- .row // -->
            </div> <!-- .container // -->
        </div> <!-- content-header .// -->
    </section>



    {% endblock %}