{% extends "base/base.html" %}
{% load static %}
{% block content %}

<h2>Coupons</h2>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>code</th>
                <th>Discount</th>
                <th>Active date</th>
                <th>Expiry date</th>
                
                <!-- Add more columns as needed -->
            </tr>
        </thead>
        <tbody>
            {% for coupon in coupons %}
            <tr>
                <td>{{ coupon.id }}</td>
                <td>{{ coupon.code }}</td>
                <td>{{ coupon.discount }}%</td>
                <td>{{coupon.active_date}}</td>
                <td>{{coupon.expiry_date}}</td>
                <!-- Render other coupon fields as needed -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}