{% extends "base/admin_base.html" %}
{% load static %}
{% block content %}

<section class="content-main">
    <div class="content-header">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered" style="border-color: black;">
                                    <thead>
                                        <tr>
                                            <!-- Your table headers here -->
                                            <th>id</th>
                                            <th>Name</th>
                                            <th>Category</th>
                                            <th class="col-md-1">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for sub in sub_cat %}
                                        <tr>
                                            <!-- Your table data here -->
                                            <td>{{ sub.sid}}</td>
                                            <td><b>{{ sub.sub_name }}</b></td>
                                            <td>{{sub.category.cname}}</td>
                                            
                                            <td class="text-center align-middle col-md-3">
                                                <div class="d-flex gap-2">
                                                     <div class="btn-group">
                                                        <a href="{% url "appadmin:admin_edit_subcategory" subcat_id=sub.sid %}" class="btn btn-light rounded btn-sm font-sm" role="button">Edit info</a>
                                                    </div> 
                                                     <div class="btn-group">
                                                        <a href="{% url 'appadmin:admin_delete_subcategory' sub.sid %}"  class="btn btn-light rounded btn-sm font-sm text-danger" role="button">Delete</a>
                                                    </div> 
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- card-body .// -->
                    </div> <!-- card .// -->
                </div> <!-- .col // -->
                <div class="col-md-3 d-flex justify-content-end align-items-start">
                    <!-- Add New Category button in the top right corner -->
                    <a href="{% url "appadmin:admin_add_subcategory" %}" class="btn btn-primary">Add New Sub Category</a>
                </div>
            </div> <!-- .row // -->
        </div> <!-- .container // -->
    </div> <!-- content-header .// -->
</section>



{% endblock %}